@model IEnumerable<TouristGuider.Models.RentBooking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateBooked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReturned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoofDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TtlRt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isReturned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.CarNm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateBooked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReturned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoofDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TtlRt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isReturned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.CarNm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RtBkID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RtBkID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RtBkID })
        </td>
        <td>
            @Html.ActionLink("Paid","Paid","RentBookings",new { id = item.RtBkID},null)
        </td>
    </tr>
}

</table>
