@model IEnumerable<TouristGuider.Models.RentCar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RtNm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credential.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RtNm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credential.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RtID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RtID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RtID })
        </td>
    </tr>
}

</table>
