@model TouristGuider.Models.RoomBooking

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>RoomBooking</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RmID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RmID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TtlRt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TtlRt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChkInDt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChkInDt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ChlOtDt)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChlOtDt)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.isCheckout)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.isCheckout)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Hotel.HtlNm)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Hotel.HtlNm)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.RmBkID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
