@model IEnumerable<TouristGuider.Models.FoodOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ttl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RstID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ttl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurant.RstNm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FdOdrID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FdOdrID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FdOdrID })
        </td>
        <td>
            @Html.ActionLink("Paid", "Paid", new { id = item.FdOdrID })
        </td>
    </tr>
}

</table>
