@model TouristGuider.Models.FoodOrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FoodOrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food.FdNm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food.FdNm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodOrder.Ttl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodOrder.Ttl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FdOdrDtID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
